In [106]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('daegu-utf8.csv', encoding='utf-8-sig')
df

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-01-31  143      NaN     -7.0      0.8
1      1907-02-01  143      NaN      NaN      NaN
2      1907-02-02  143      NaN      NaN      NaN
3      1907-02-03  143      NaN      NaN      NaN
4      1907-02-04  143      NaN      NaN      NaN
...           ...  ...      ...      ...      ...
42365  2023-01-27  143     -3.0     -6.5      0.3
42366  2023-01-28  143     -3.6     -8.3      1.1
42367  2023-01-29  143      0.8     -6.0      6.4
42368  2023-01-30  143      1.3     -3.2      5.8
42369  2023-01-31  143      1.7     -6.4     11.3

[42370 rows x 5 columns]

In [108]:
df.columns = ['날짜','지점','평균기온','최저기온','최고기온']
print(df)

               날짜   지점  평균기온  최저기온  최고기온
0      1907-01-31  143   NaN  -7.0   0.8
1      1907-02-01  143   NaN   NaN   NaN
2      1907-02-02  143   NaN   NaN   NaN
3      1907-02-03  143   NaN   NaN   NaN
4      1907-02-04  143   NaN   NaN   NaN
...           ...  ...   ...   ...   ...
42365  2023-01-27  143  -3.0  -6.5   0.3
42366  2023-01-28  143  -3.6  -8.3   1.1
42367  2023-01-29  143   0.8  -6.0   6.4
42368  2023-01-30  143   1.3  -3.2   5.8
42369  2023-01-31  143   1.7  -6.4  11.3

[42370 rows x 5 columns]

In [95]:
df['날짜'] = pd.to_datetime(df['날짜'], format='%Y-%m-%d')
print(df['날짜'].dtype)

datetime64[ns]

In [96]:
num_rows = df.shape[0] # shape(row, col), shape[0]: row의 개수
num_missing = num_rows - df.count() # count(): 정상값의 개수
print(num_missing)

날짜        0
지점        0
평균기온    703
최저기온    629
최고기온    630
dtype: int64

In [97]:
df = df.dropna(axis=0)
print(df)

              날짜   지점  평균기온  최저기온  최고기온
701   1909-01-01  143  -4.1  -8.0   0.1
702   1909-01-02  143  -0.8  -6.7   6.1
703   1909-01-03  143   1.0  -2.4   3.6
704   1909-01-04  143   4.2   0.0   9.2
705   1909-01-05  143   3.4  -0.4   9.0
...          ...  ...   ...   ...   ...
42365 2023-01-27  143  -3.0  -6.5   0.3
42366 2023-01-28  143  -3.6  -8.3   1.1
42367 2023-01-29  143   0.8  -6.0   6.4
42368 2023-01-30  143   1.3  -3.2   5.8
42369 2023-01-31  143   1.7  -6.4  11.3

[41665 rows x 5 columns]

In [109]:
startyear = int(input("시작년도"))
endyear = int(input("끝나는 년도"))
month = int(input('측정할 달'))

s_data = df[startyear <= df['날짜'].dt.year]
s_data = df[df['날짜'].dt.year <= endyear]
s_data = df[df['날짜'].dt.month == month]
s_data

AttributeError: Can only use .dt accessor with datetimelike values

In [99]:
# def s_e_m():
#     start=int(input('시작 연도를 입력하세요 : '))
#     end=int(input('마지막 연도를 입력하세요 : '))
#     month=int(input('기온 변화를 측정할 달을 입력하세요 : '))
    
#     daegu=pd.read_csv('daegu-utf8.csv',encoding='utf-8-sig')
#     daegu.columns = ['날짜', '지점', '평균기온', '최저기온', '최고기온']
#     daegu['날짜']=pd.to_datetime(daegu['날짜'], format='%Y-%m-%d')
    
#     year = daegu[(daegu['날짜'].dt.year >= start) & (daegu['날짜'].dt.year <= end)]
#     mon = year[year['날짜'].dt.month == month]
    
#     x_year=[i for i in range(start,end)]
#     max_temp=[]
#     min_temp=[]
#     for i in range(start,end):
#         m=mon[mon['날짜'].dt.year==i]
#         max_temp.append(round(m['최고기온'].mean(),1))
#         min_temp.append(round(m['최저기온'].mean(),1))
#     print(f'{start}년부터 {end}년까지 {month}월의 기온 변화\n')
#     print(f'{month}월 최저기온 평균 : ')
#     print(str(min_temp)[1:-1])
#     print(f'{month}월 최고기온 평균 : ')
#     print(str(max_temp)[1:-1])
    
#     plt.figure(figsize=(20, 4))
#     plt.plot(x_year,max_temp, 'red', marker='o', label='최고기온')
#     plt.plot(x_year,min_temp, 'blue', marker='s', label='최저기온')

#     if platform.system()=='Windows':
#         plt.rc('font',family='Malgun Gothic',size=8)
#     else:
#         plt.rc('font',family='AppleGothic', size=8)

#     plt.rcParams['axes.unicode_minus'] = False 
#     plt.title(f"{start}년부터 {end}년까지 {month}월의 기온 변화",size=16)
#     plt.xticks(x_year)
#     plt.legend(loc='best')
#     plt.show()
# s_e_m()